<%- include('partials/head')%>
<%- include('partials/body-fluid')%>
<%- include('partials/navigation')%>
<%- include('partials/body-text-start')%>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">UPC</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Product Type</th>
    </tr>
    </thead>
    <tbody>
        <% product_list.forEach(function(product){%>
        <tr>
        <td><a href="<%=product.url%>"><%=product.upc%></a></td>
        <td><%=product.name%></td>
        <td><%=product.price%></td>
        <td><%=product.productType%></td>
        </tr>
        <% }); %>

    </tbody>
</table>

<%- include('partials/body-text-end')%>
<%- include('partials/body-end')%>