<%- include('partials/head')%>
<%- include('partials/body-fluid')%>
<%- include('partials/navigation')%>
<%- include('partials/body-text-start')%>
<h1>Purchases</h1>
<p>paragraph</p>
<%- include('partials/body-text-end')%>
<%- include('partials/body-end')%>